/* Write your CSS here */
/*span{
    display:inline-block;
}

}
.block{
    border-radius:10px;
    background-color:red;
    width:26.6%;
    display:inline-block;
}
.block1{
    border-radius:10px;
    background-color:red;
    width:26.6%;
    display:inline-block;
}
.block2{
    border-radius:10px;
    background-color:red;
    width:26.6%;
    display:inline-block;
}

.margin{
    margin-right:5%;
}*/
